{% extends "base.html" %}

{% block content %}
<br>
    <div id="panel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="{% url 'listing_detail_view' object.pk %}">{{object.title}}</a></h3>
        <hr>
        <h4>${{object.price}}</h4>
        <h4>{{object.location}}</h4>
        <h4>user: {{object.profile}}</h4>
        <img src="{{object.photos.url}}" alt="" />
      </div>
          <div class="panel-body">
            {{object.description}}
          </div>
    </div>
{% endblock %}
