{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bill's List</title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="{% url 'index_page_view' %}">Home</a></li>
          <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
          <li role="presentation"><a href="{% url 'create_user' %}">Create User</a></li>


          {% if request.user.is_authenticated %}
            <li role="presentation"><a href="{% url 'logout' %}?next=/">Logout</a></li>
            <li role="presentation"><a href="{% url 'post_new_listing_view' %}">Create New Listing</a></li>
            <li class="navbar-text"><strong>User is logged in as: {{ request.user }}</strong></li>
          {% endif %}
        </ul>
      </nav>
        {% block content %}
          There is no content here.
        {% endblock %}
    </div>
  </body>
</html>
