{% load staticfiles %}
{% load bootstrap %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bill's List</title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "app/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "app/css/main.css" %}" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
<div class="container">
<nav class="navbar navbar-default">
  <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h3><a class="text-muted" href="/">Bill's List <small>A CraigsList Clone.</small></a></h3>
        </div>

      <!-- Nav Bar Left -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>

        <!-- Nav Bar Right -->
        <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
        <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
        <li role="presentation"><a href="{% url 'create_user' %}">Create User</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.user}}<span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li role="presentation"><a href="{% url 'post_new_listing_view' %}">Create New Listing</a></li>
            <li role="presentation"><a href="{% url 'logout' %}?next=/">Logout</a></li>
          </ul>
        </li>
        {% endif %}
        <!-- Search Bar -->
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</nav>
<div class="container text-muted">
  <h4>A Place For Things. And Stuff.</h4>
</div>
<nav>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{% url 'index_page_view' %}">Home</a></li>
    <li role="presentation" class="active"><a href="{% url 'listing_page_view' %}">View All Listings</a></li>
    <li role="presentation" class="active"><a href="{% url 'regions_page_view' %}">Sort by Region</a></li>
  </ul>
</nav>
  {% block content %}
    There is no content here.
  {% endblock %}
  <div class="container">
    <footer>
      <hr>
      <h5 class="text-muted">2016 William John Gardner</h5>
    </footer>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script>
    {% block extrascript %}

    {% endblock %}
  </body>
</html>
