{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Bill's List <small>A Place. For Things. And Stuff</small></h1>
  </div>
    {% for category in category_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{category}}</h3>
        </div>
          {% for sub in category.subcategory_set.all  %}
            <div class="panel-body">
              <a href="{% url 'subcategory_page_view' sub.pk %}">{{sub}}</a>
               <br>
            </div>
          {% endfor %}
      </div>
    {% endfor %}
  {% endblock %}
