{% extends "base.html" %}

{% block content %}
here?
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href=""></a></h3>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort Options
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="{% url 'listing_page_view' %}?sort=-created">Sort Date</a></li>
        <li><a href="{% url 'listing_page_view' %}?sort=price">Sort Price: Low/High</a></li>
        <li><a href="{% url 'listing_page_view' %}?sort=-price">Sort Price: High/Low</a></li>
      </ul>
    </div>
    <div class="panel-body">
      {% for object in object_list  %}
        <a href="{% url 'subcategory_page_view' object.pk %}">{{object.pk}}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
