{% extends "base.html" %}


{% block content %}
<div class="page-header">
  <h1>Bill's List<small>  A Place. For Things. And Stuff</small></h1>
</div>
  {% for sorted in sorted_newest  %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="{% url 'listing_detail_view' object.pk %}">{{sorted.title}}</a></h3><h3>${{sorted.price}} |  {{sorted.location}}</h3>
          <img src="{{object.photos.url}}" alt="" />
        </div>
            <div class="panel-body">
              {{sorted.description}}
            </div>
      </div>
  {% endfor %}
{% endblock %}
