{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Bill's List <small>Go Right Ahead and Update Your Profile.  Tell Us A Little About Yourself!</small></h1>
    </div>
    <form class="" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <pre>
          {{ form.as_p }}
        </pre>
      <input class="btn btn-primary" type="submit" name="name" value="Update Profile">
    </form>
  </div>
{% endblock %}
