.navbar-default {
    background-color: #fff;
    border-bottom: 2px, #333;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

hr{
  border-top: .5px solid #ccc;
}

#listimage {
  max-height: 385px;
  min-height: 385px;
}

#panel {
  box-shadow: 0 10px 15px gray;
}
